{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 50 versions"],
          "electron": 1.6,
        },
        "modules": false,
        "useBuiltIns": true,
        "debug": true
      }
    ],
    "stage-0",
    "react",
    "react-native"
  ],
  "plugins": [
    [
      "import",{
        "libraryName": "antd",
        "style": true
      }
    ],
    "react-hot-loader/babel"
  ]
}
