.ant-menu {
  line-height: 32px;
}
#App {
  margin: 0px 20px;
}
.ant-menu-item{
  padding: 0 16px;
}

.ant-menu-item:last-child {
  float: right;
}

.ant-menu-submenu:last-child {
  float: right;
}

h2 {
  margin-bottom: 10px;
  padding-left: 10px;
}
